<div class="d-flex flex-column h-100">
  <nav class="navbar bg-dark">
    <div class="container-fluid">
      <span class="navbar-brand text-white">Portafolio</span>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link text-white" routerLink="proyectos">Proyectos</a>
        </li>
      </ul>
    </div>
  </nav>
  <main class="flex-shrink-0 container" style="margin-top: 2rem;">
    <div style="padding-bottom: 2rem;">
      <app-alertas></app-alertas>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>